.filter-chips-container{
    padding: 16px;
    display: flex;
   gap: 8px;
    border-bottom: 1px solid #EEE;
    color:  #242056;
   font-size: 14px;
   position: fixed;
   top: 60px;
   left: 0;
   right: 0;
   z-index: 1000;
   background-color: rgb(255, 255, 255);
   overflow: hidden;
}
.selected-filters-container{
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
  padding: 16px 20px;
}
.filter-chip{
    display: flex;
    font-family: Poppins;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    border-radius: 24px;
border: 1px solid #E2E2E2;
background-color: white;
color: #242056;
font-size: 14px;
white-space: nowrap;
flex-shrink: 1;
}
.search-chip{
    display: flex;
    align-items: center;
    padding: 8px;
    /* padding: 8px; */
    border-radius: 18.5px;
    border: 1px solid #CCC;

}
.icon{
    height: 20px;
    width: 20px;
}
/* For smaller screens, reduce padding and font size to make chips more compact */
@media (max-width: 390px) {
    .filter-chip {
        padding: 6px 12px; /* Reduced padding */
       /* Smaller font size */
    }
}
/* For smaller screens, reduce padding and font size to make chips more compact */
@media (max-width: 355px) {
    .filter-chip {
        padding: 5px 11px; /* Reduced padding */
        font-size: 12px; /* Smaller font size */
    }
}