.filter-chips-container{
    padding: 16px;
    display: flex;
   /* gap: 8px; */
   justify-content: space-between;
 /* Upward box-shadow */
 box-shadow: 0px -1px 2px 0px rgba(33, 33, 33, 0.06), 0px -1px 3px 0px rgba(33, 33, 33, 0.10);
 border-bottom: 1px solid #EEE;
    color:  #242056;
   font-size: 14px;
   position: fixed;
   top: 53px;
   left: 0;
   right: 0;
   z-index: 1000;
   background-color: rgb(255, 255, 255);
   overflow: hidden;
}
.selected-filters-container{
    position: fixed;
    top: 124px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #EEE;
  padding: 16px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.filter-chip{
    display: flex;
    font-family: Poppins;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    border-radius: 24px;
border: 1px solid #E2E2E2;
background-color: white;
color: #242056;
font-size: 14px;
font-weight: 500;
white-space: nowrap;
flex-shrink: 1;
}
.search-chip{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #CCC;
padding: 8px;
}
.filter-chip.selected {
    background-color: #FEEBD2; 
    border-color: #F37021; 
    color: #F37021; 
}
.icon{
    height: 16px;
    width: 16px;
}
.search-icon{
    height: 20px;
    width: 20px;
  
}
/* For smaller screens, reduce padding and font size to make chips more compact */
@media (max-width: 390px) {
    .filter-chip {
        padding: 6px 12px; /* Reduced padding */
        font-size: 13px;
    
    }

}
/* For smaller screens, reduce padding and font size to make chips more compact */
@media (max-width: 355px) {
    .filter-chips-container{
        /* gap: 0;
        justify-content: space-between; */
    
    }
    .filter-chip {
        padding: 5px 11px; 
        font-size: 12px; /* Smaller font size */
    }
    
}
@media (max-width: 345px) {
    .filter-chip {
        padding: 5px 11px; 
        font-size: 13px; /* Smaller font size */
    }
    .icon{
        height: 16px;
        width: 16px;
    }
}