.logo_header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: #242056;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.3px;
    padding: 9px 16px;

}
