.app-container {
    max-width: 480px;
    margin: 0 auto;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.filter-container {
    display: flex;
    gap: 8px;
    padding: 16px;
    background-color: white;
}

.chip_tag{
    font-size: 12px;
}
/* Add extra margin when search results are active */
.playbook-content-container.search-results-active {
    margin-top: 3rem; /* Adjust this value to your needs */
}
.no-search-result{
    text-align:center;
    margin-top: 200px;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color:rgb(120, 116, 116)
}