/* ActionableView.css */
.actionable-container {
    /* padding: 16px; */
}

.gap-item {
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
    padding: 16px 24px 16px 24px;
}



.status-tags {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.status-tag {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 12px;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    font-weight: 500;
    color: #242056;
}

.green {
    background-color: #BCFFBC;
}

.red {
    background-color: #FEADAF;
}

.status-not-started {
    background-color: #FEADAF;
}

.blue {
    background-color: #BCE3FF;
}